@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazir';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Vazir.ttf");
  src: local('Vazir'), local('Vazir'), url("../font/Vazir.eot") format('eot'), url("../font/Vazir.ttf") format('truetype');
}

@font-face {
  font-family: 'Vazir';
  font-style: normal;
  font-weight: 700;
  src: url("../font/Vazir-Bold.ttf");
  src: local('Vazir Bold'), local('Vazir-Bold'), url("../font/Vazir-Bold.ttf") format('truetype');
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
body {
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    direction: rtl;
    font-family: 'Vazir', Tahoma, sans-serif !important;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}
