@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 1;
  src: url("../font/Vazir.ttf");
  src:
    local("Vazir"),
    local("Vazir"),
    url("../font/Vazir.eot") format("eot"),
    url("../font/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Vazir-Bold.ttf");
  src:
    local("Vazir Bold"),
    local("Vazir-Bold"),
    url("../font/Vazir-Bold.ttf") format("truetype");
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

:root {
  --swiper-navigation-color: #b01116;
}

body {
  font-weight: 1;
  overflow-x: hidden;
  overflow-y: auto;
  direction: rtl;
  font-family: "Vazir", Tahoma, sans-serif !important;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

pre {
  font-family: "Vazir", Tahoma, sans-serif !important;
}

/* #Mega Menu Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.mega-menu {
  display: none;
  right: 0;
  position: absolute;
  text-align: right;
  width: 100%;
}

/* #hoverable Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.hoverable {
  position: static;
}

/* .hoverable > a:after {
    content: "\25BC";
    padding-right: 6px;
    position: relative;
    top: -1px;
  } */

.hoverable:hover .mega-menu {
  display: block;
}

/* #toggle Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.toggleable > label:after {
  content: "\25BC";
  padding-right: 6px;
  position: relative;
  top: -1px;
}

.toggle-input {
  display: none;
}
.toggle-input:not(checked) ~ .mega-menu {
  display: none;
}

.toggle-input:checked ~ .mega-menu {
  display: block;
}

.toggle-input:checked + label {
  color: white;
  background: #82332c; /*@apply bg-blue-800 */
}

.toggle-input:checked ~ label:after {
  content: "\25B2";
  padding-right: 6px;
  position: relative;
  top: -1px;
}

.collection h1 {
  font-size: 16px;
  font-weight: 700;
  /* letter-spacing: 1px; */
  /* text-transform: uppercase; */
  /* width: 100%; */
  text-align: right;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
  right: 0;
}
.collection h1:before {
  background-color: #b01116;
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  margin-bottom: 5px;
  right: 0;
}
.collection h1:after {
  background-color: #b01116;
  content: "";
  display: block;
  /* position: absolute; */
  margin-right: 50px;
  /* bottom: 0; */
  height: 2px;
  /* width: 100%;
      margin-bottom: 5px; */
}

/* swiper Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
